@inject NavigationManager NavigationManager
@implements IDisposable

<nav class="nav-menu">
    <ul class="nav-list">
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <img src="/icons/chart-v2.png" alt="" class="nav-icon-img" />
                <span class="nav-text">Dashboard</span>
            </NavLink>
        </li>
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/config-optimizer">
                <img src="/icons/tools.png" alt="" class="nav-icon-img" />
                <span class="nav-text">Config Optimizer</span>
            </NavLink>
        </li>
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/wifi-optimizer">
                <svg class="nav-icon-svg" viewBox="0 0 24 24" fill="currentColor" xmlns="http://www.w3.org/2000/svg" width="20" height="20">
                    <path d="M12 18c1.1 0 2 .9 2 2s-.9 2-2 2-2-.9-2-2 .9-2 2-2m0-4c2.8 0 5.4 1.1 7.4 3l-1.4 1.4C16.2 16.9 14.2 16 12 16s-4.2.9-6 2.4L4.6 17c2-1.9 4.6-3 7.4-3m0-4c4 0 7.7 1.6 10.4 4.2l-1.4 1.4C18.6 13.2 15.4 12 12 12s-6.6 1.2-9 3.6L1.6 14.2C4.3 11.6 8 10 12 10m0-4c5.2 0 10 2 13.6 5.3l-1.4 1.4C21.2 10.2 16.8 8 12 8S2.8 10.2.2 12.7L-1.2 11.3C2 8 6.8 6 12 6z"/>
                </svg>
                <span class="nav-text">Wi-Fi Optimizer</span>
            </NavLink>
        </li>
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/audit">
                <img src="/icons/shield-v2.png" alt="" class="nav-icon-img" />
                <span class="nav-text">Security Audit</span>
            </NavLink>
        </li>
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/upnp-inspector">
                <img src="/icons/port-scan.png" alt="" class="nav-icon-img" />
                <span class="nav-text">UPnP Inspector</span>
            </NavLink>
        </li>
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/sqm">
                <img src="/icons/sqm-v3.png" alt="" class="nav-icon-img" />
                <span class="nav-text">Adaptive SQM</span>
            </NavLink>
        </li>
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/speedtest">
                <img src="/icons/speed-v4.png" alt="" class="nav-icon-img" />
                <span class="nav-text">LAN Speed Test</span>
            </NavLink>
        </li>
        <li class="nav-item nav-sub-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/client-speedtest">
                <span class="nav-sub-icon">└</span>
                <span class="nav-text">Client Speed Test</span>
            </NavLink>
        </li>
        <li class="nav-item" @onclick="HandleNavClick">
            <NavLink class="nav-link" href="/settings">
                <img src="/icons/settings-v2.png" alt="" class="nav-icon-img" />
                <span class="nav-text">Settings</span>
            </NavLink>
        </li>
    </ul>

    @* License status - hidden for now
    <div class="nav-footer">
        <div class="license-status">
            <img src="/icons/verified-v2.png" alt="" class="nav-icon-img" />
            <span class="license-text">Licensed</span>
        </div>
    </div>
    *@
</nav>

@code {
    [Parameter]
    public Action? OnNavigate { get; set; }

    private void HandleNavClick()
    {
        OnNavigate?.Invoke();
    }

    public void Dispose()
    {
        // No cleanup needed
    }
}
